@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

$font1:'Caveat Brush', cursive;
$body-bg:#f7fdf5bb;
$header-bg:#00B7C3;
$vente-bg:#ecffe77a;
$annonce-bg:#F7630C ;
$footer-bg:#00B7C3;

$baseline-bg: linear-gradient(to right, #E38913 27%,#a56799 48%, #8F5BFE 62%);


// footer
$shake-intensity: 2%;